<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/node_modules/xterm/css/xterm.css" />
  <script src="/static/node_modules/xterm/lib/xterm.js"></script>
  
  <title>Sandbox</title>
  <meta name="author" content="aa9863@coventry.ac.uk">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  
</head>

<body>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>

